{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="block block_empty"></div>

    <div class="block bgg">
       <div class="center center1 "><h2 class="h2">Admin ({{ user.username }})</h2>
           {% include 'adminapp/includes/inc__category_menu.html' %}


           {% for item in object_list %}
           <div class="item_{{ item.pk }} {% if not item.is_active %}no_active{% endif %}">
                <h3 class="{% if item.is_superuser %}h4_red{% else %}h4_black{% endif %}">
                    {{ item.username }}{% if item.is_superuser %}(admin){% endif %}
                </h3>
                <div class="div4">

                    <img src="/media/{{ item.avatar }}" width="100" alt="not image">

                    <div class="span_admin">
                        <p class="p2">info</p>
                        <p>age: {{ item.age }}</p>
                        <p>name: {{ item.first_name }} {{ item.last_name }}</p>
                    </div>
                    <div class="span_admin">
                        <p class="p2">logged</p>
                        {{ item.last_login }}
                    </div>
                    <div class="span_admin">
                        <p class="p2">email</p>
                        <span>
                            {{ item.email }}
                        </span>
                    </div>
                    <div>
                        <a href="{% url 'my_admin:delete_user' item.pk %}" class="button_red btn_from_{{ item.pk }} {% if not item.is_active %}no_display{% endif %}">delete</a>
                        <a href="{% url 'my_admin:update_user' item.pk %}" class="button_red btn_from_{{ item.pk }} {% if not item.is_active %}no_display{% endif %}">update</a>
                        <a href="{% url 'my_admin:restore_user' item.pk %}" class="button_red btn_restore btn_to_{{ item.pk }} {% if item.is_active %}no_display{% endif %}">restore</a>
                    </div>
                </div>
                <hr>
           </div>
            {% endfor %}




       </div>
    </div>
{% endblock %}