{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="block block_empty"></div>
    <div class="block bgg">
       <div class="center center1 "><h2 class="h2">Login</h2>
           <div class="c">
               <form class="login_form" method="POST">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <input class="btn_input button_red" type="submit" value="Login">
                </form>
               <a href="{% url 'auth:register' %}" class="button_red">
registration
           </a>
           </div>

       </div>
   </div>
{% endblock %}