<nav class=" center">
       <ul class="main-menu">
                <li class="h3 {% if request.resolver_match.kwargs.pk|add:0 == category.pk %}active{% endif %} ">
                    <a href="{% url 'main:gallery' %}" >All</a>
                </li>
           {% for category in categories %}
                  <li class="h3 {% if request.resolver_match.kwargs.pk|add:0 == category.pk %}active{% endif %}">
                      <a href="{% url 'main:gallery'  category.pk %}" >{{ category.name }}</a>
                  </li>
           {% endfor %}
       </ul>
</nav>