{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% endblock %}
    {% block js %}
        <script type="text/javascript">
            var csrf_token = '{{ csrf_token }}';
        </script>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/script_admin.js' %}"></script>

    {% endblock %}
    <title>
        {% block title %}
            Main
        {% endblock %}
    </title>
</head>
<body>
   <div class="container">
       <main class="main">
           {% block content %}
           {% endblock %}
       </main>
   </div>
</body>
</html>