{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="block block_empty"></div>

    {% include 'mainapp/includes/inc__category_menu.html' %}

    <div class="block bgw">
       <div class="center center1"><h2 class="h2">{{ category }}</h2>
       <div class="div4">
           {% for product in products %}
                <div class="div4-block">
                  <a href="{% url 'main:product' product.pk %}" class="a_div4_block">
                   <div class="div4-block_img" style="background: url('/media/{{ product.image }}') no-repeat top center;"></div></a>
                   <p class="name_game_product">
                       {{ product.name }}
                   </p>
                   <a href="{% url 'basket:basket_add' product.pk %}" class="button_red">Buy</a>
               </div>
           {% endfor %}
       </div>
    </div>
    </div>
    <div class="block max_block">
       <div class="div2_max">
           <div class="div2_max_item">
               <div class="div2_max_item_img" style="background-image: url('/static/img/max_img_medal_cell_of_duty.jpeg');"></div>
               <div class="div2_max_item_info">
                    <p class="mark_game_product">discount</p>
                   <h2 class="compact_h2 ">CALL OF DUTY:  Modern Warfare 3</h2>
                   <div class="price">
                       <span class="new_price">$14.44</span>
                       <span class="old_price">/ $28.90</span>

                   </div>
                   <a href="{#% url 'main:product' %#}" class="button_red button_big">Buy</a>
               </div>
           </div>

       </div>
    </div>
{% endblock %}