{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
   <div class="block bgimg bgimg1">
     <div class="img_bgimg1" style="background: url('/static/img/1.png') no-repeat center center;"></div>
     <div class="info_in_bgimg">
         <div class="mark_info_in_bgimg">Nunc eget nibh</div>
           <h2 class="h1 colw">Morbi in nisl auctor</h2>

           <div class="social">
              <a href="#">
               <div class="social_cir social_cir_f">
                   <img src="/static/img/f.svg" alt="f" class="social_cir_img">
               </div>
               </a><a href="#">
               <div class="social_cir social_cir_t">
                   <img src="/static/img/t.svg" alt="t" class="social_cir_img">
               </div>
               </a><a href="#">
               <div class="social_cir social_cir_vk">
                   <img src="/static/img/vk.svg" alt="vk" class="social_cir_img">
               </div>
               </a><a href="#">
               <div class="social_cir social_cir_rss">
                   <img src="/static/img/rss.svg" alt="rss" class="social_cir_img">
               </div>
               </a>
           </div>
     </div>

   </div>
   <div class="block bgw">
       <div class="center center3 div2">
       <div class="about_us">
          <h2 class="h2">About Us!</h2>
           <p class="p">
           Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            </p><p class="p">
Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
       </p>
       </div>
       <div class="div2-2"><img  src="/static/img/2.png" alt="About us"></div>
       </div>
   </div>
   <div class="block bgg">
       <div class="center center1 "><h2 class="h2">Services</h2>
        <div class="div2">
           <div class="div2-1 rigth_float">
            <div class="text-left-img services_block">
                <div>
                 <h4 class="h4">Repreh Qui In Ea Voluptate</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
                 <div class="img_div"><img src="/static/img/branch.png" alt="!"></div>
            </div>
            <div class="text-left-img services_block">
                <div>
                 <h4 class="h4">Aut Perferendis Doloribus</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
                <div class="img_div"><img src="/static/img/$.png" alt="!"></div>
            </div>
            <div class="text-left-img services_block">
                <div>
                 <h4 class="h4">Maiores Alias Consequatur</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
                <div class="img_div"><img src="/static/img/poll.png" alt="!"></div>
            </div>
           </div>
           <div class="div2-2">
            <div class="text-rigth-img services_block">
                <div class="img_div"><img src="/static/img/down.png" alt="!"></div>
                <div>
                 <h4 class="h4">Voluptatibus Maiores Alias</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
            </div>
            <div class="text-rigth-img services_block">
               <div class="img_div"><img src="/static/img/home.png" alt="!">
                   </div><div>
                 <h4 class="h4">Dut Aut Reiciendis Maiores</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
            </div>
            <div class="text-rigth-img services_block">
                <div class="img_div"><img src="/static/img/settings.png" alt="!"></div>
                <div>
                 <h4 class="h4">Doloribus Volupta Maiores</h4> <p class="p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut
perferendis doloribus asperiores repellat.</p>
                 </div>
            </div>
           </div>
        </div>

       </div>
   </div>
   <div class="block bgw">
       <div class="center center1"><h2 class="h2">Our Gallery</h2>
       <div class="div4">
               <div class="div4-block">
                  <a href="page_product.html" class="a_div4_block">
                   <div class="div4-block_img" style="background: url('/static/img/p1.jpeg') no-repeat top center;"></div></a>
                   <p class="name_game_product">
                       ASSASIN'S CREAD: Rogue
                   </p>
                   <a href="#" class="button_red">Buy</a>
               </div>
           <div class="div4-block">
              <a href="page_product.html" class="a_div4_block">
                  <div class="div4-block_img" style="background: url('/static/img/p2.jpeg') no-repeat top center;"></div></a>
               <p class="name_game_product">
                   Tomb Raider
               </p>
               <a href="#" class="button_red">Buy</a>
           </div>
           <div class="div4-block">
              <a href="page_product.html" class="a_div4_block">
                  <div class="div4-block_img" style="background: url('/static/img/p3.jpeg') no-repeat top center;"></div></a>
               <p class="name_game_product">
                   Ryse: Son Of Rome
               </p>
               <a href="#" class="button_red">Buy</a>
           </div>
           <div class="div4-block">
              <a href="page_product.html" class="a_div4_block">
                  <div class="div4-block_img" style="background: url('/static/img/p4.jpeg') no-repeat top center;"></div></a>
               <p class="name_game_product">
                   World Of Warcraft:
Wrath Of The Linch King
               </p>
               <a href="#" class="button_red">Buy</a>
           </div>
       </div>
       </div>
   </div>
   <div class="block bgimg bgimg2">
      <div class="img_bgimg1" style="background: url('/static/img/3.png') no-repeat center center;"></div>
       <div class="center info_in_bgimg testtiminial_block">

       <h2 class="h2 colw">Testimonial</h2>
       <img src="/static/img/,,.png" alt=",,">
            <div class="block-testimonial">
               <a href="#" class="button_left button_sqrt">&#60;</a>
            <p class="p article_p">Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum. Curabitur ex dolor, condimentum vitae nunc vel, pulvinar semper justo. Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu viverra at, mattis et enim. Nam efficitur sem et lectus fringilla, at pharetra nulla luctus. Nunc cursus, augue ac ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque. Integer ipsum sem,
consectetur a mollis ac, cursus eu ipsum.


<br><br><span class="autor">JOHN SMITH</span> - FOUNDER</p>
            <a href="#" class="button_left button_sqrt">&#62;</a>
       </div>

       </div>
   </div>
   <div class="block bgw">

       <div class="center center1"><h2 class="h2">News & Events</h2>
       <div class="div2">
           <div class="div2-1">
               <h2 class="h3 h2_black">Latest News</h2>
                <div class="info-news">
                <div class="data_NEWS"><h4>15</h4><p>june</p><p>2016</p></div>
                <div class="bloсk-info-news">
                    <h4>Fugiat Quo Voluptas</h4>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
velit esse.</p>

                </div>
            </div>
            <div class="info-news">
                <div class="data_NEWS"><h4>15</h4><p>june</p><p>2016</p></div>
                <div class="bloсk-info-news">
                    <h4>Fugiat Quo Voluptas</h4>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
velit esse.</p>
                </div>
            </div>
            <div class="info-news">
                <div class="data_NEWS"><h4>15</h4><p>june</p><p>2016</p></div>
                <div class="bloсk-info-news">
                    <h4>Fugiat Quo Voluptas</h4>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
velit esse.</p>
                </div>
              </div>
           </div>
           <div class="div2-2">
              <div class="hr_">
                 <h2 class="h3 h2_black">Featured Events</h2>
                 <div>
                     <a href="#" class="but_hr">&#60;</a>
                     <a href="#" class="but_hr">&#62;</a>
                 </div>
              </div>
               <div class="min_imgs">
                   <img src="/static/img/jp1.jpeg" alt="" class="min_img">
                   <img src="/static/img/jp2.jpeg" alt="" class="min_img">
                   <img src="/static/img/jp3.jpeg" alt="" class="min_img">
               </div>
               <div class="text_news">
                   <h4 class="h4 h4_black">+ Assumenda Est Cliche Reprehenderit</h4>
               </div>
               <div class="text_news">
                   <h4 class="h4 h4_black">+ Assumenda Est Cliche Reprehenderit</h4>
               </div>
               <div class="text_news">
                   <h4 class="h4 h4_black">+ Assumenda Est Cliche Reprehenderit</h4>
               </div>

               <div class="text_news">
                   <h4 class="h4 h4_black">- Assumenda Est Cliche Reprehenderit</h4>
                   <div class="text_news_sub">
                       <p class="p_text_news_sub">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                       </p>
                   </div>
               </div>


           </div>
        </div>
       </div></div>
   <div class="block bgg">
       <div class="center center1">
       <h2 class="h2">Our Team</h2>
       <div class="div4">
       <div  class="team-block div4-block">
                   <div class="div4-block_img" style="background: url('/static/img/photo1.jpeg') no-repeat top center;"></div>
                    <p class="h3">Mary Jane</p>
                    <p class="p2">Vestibulum</p>
                    <div class="social-min">
                        <a href="#">
                           <div class="social_cir-min social_cir_f">
                               <img src="/static/img/f.svg" alt="f" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_t">
                               <img src="/static/img/t.svg" alt="t" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_vk">
                               <img src="/static/img/vk.svg" alt="vk" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_rss">
                               <img src="/static/img/rss.svg" alt="rss" class="social_cir_img">
                           </div>
                       </a>
                   </div>
        </div>
        <div  class="team-block div4-block">
                   <div class="div4-block_img" style="background: url('/static/img/photo2.jpeg') no-repeat top center;"></div>
                    <p class="h3">Peter Parker</p>
                    <p class="p2">Vestibulum</p>
                    <div class="social-min">
                        <a href="#">
                           <div class="social_cir-min social_cir_f">
                               <img src="/static/img/f.svg" alt="f" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_t">
                               <img src="/static/img/t.svg" alt="t" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_vk">
                               <img src="/static/img/vk.svg" alt="vk" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_rss">
                               <img src="/static/img/rss.svg" alt="rss" class="social_cir_img">
                           </div>
                       </a>
                   </div>
        </div>
        <div  class="team-block div4-block">
                   <div class="div4-block_img" style="background: url('/static/img/photo3.jpeg') no-repeat top center;"></div>
                    <p class="h3">John Watson</p>
                    <p class="p2">Vestibulum</p>
                    <div class="social-min">
                        <a href="#">
                           <div class="social_cir-min social_cir_f">
                               <img src="/static/img/f.svg" alt="f" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_t">
                               <img src="/static/img/t.svg" alt="t" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_vk">
                               <img src="/static/img/vk.svg" alt="vk" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_rss">
                               <img src="/static/img/rss.svg" alt="rss" class="social_cir_img">
                           </div>
                       </a>
                   </div>
        </div>
        <div  class="team-block div4-block">
                   <div class="div4-block_img" style="background: url('/static/img/photo4.jpeg') no-repeat top center;"></div>
                    <p class="h3">Steven Wilson</p>
                    <p class="p2">Vestibulum</p>
                    <div class="social-min">
                        <a href="#">
                           <div class="social_cir-min social_cir_f">
                               <img src="/static/img/f.svg" alt="f" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_t">
                               <img src="/static/img/t.svg" alt="t" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_vk">
                               <img src="/static/img/vk.svg" alt="vk" class="social_cir_img">
                           </div>
                        </a><a href="#">
                           <div class="social_cir-min social_cir_rss">
                               <img src="/static/img/rss.svg" alt="rss" class="social_cir_img">
                           </div>
                       </a>
                   </div>
        </div>
       </div>
       </div>
       </div>
   <div class="block bgimg bgimg3">
      <div class="img_bgimg1" style="background: url('/static/img/1.png') no-repeat center center;"></div>
       <div class="center"><h2 class="h2 colw">Subscribe with Us</h2>
       <div class="subscribe">
           <input class="input_subscribe" type="text" placeholder="Email">
           <a href="#" class="button_red b_subscribe">Subscribe</a>
       </div>

       </div>
   </div>
{% endblock %}