{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
 <div class="block block_empty"></div>
           <div class="block">
               <div class="center center3">
                   <div class="div2 div2_product">
                       <div class="div2-1 product_page_block_img">
                           <img class="product_page_block_img_big_img" src="img/p_big_img.jpeg" alt="max_img">
                           <div class="product_page_block_img_imgs">


                              <img class="product_page_block_img_min_img" src="img/p_min_img1.jpeg" alt="min_img">
                              <img class="product_page_block_img_min_img" src="img/p_min_img2.jpeg" alt="min_img">
                              <img class="product_page_block_img_min_img" src="img/p_min_img3.jpeg" alt="min_img">
                              <img class="product_page_block_img_min_img" src="img/p_min_img4.jpeg" alt="min_img">
                           </div>
                       </div>
                       <div class="div2-2 product_page_info" style="width: 471px; height: 416px">
                           <h2 class="compact_h2 h2_black">Assasin’s Creed: </h2><div class="h2">Rogue</div>

                      <div class="price">
                          <span class="new_price">$29.99</span>
                      </div>
                      <a href="#" class="button_red button_max">Buy</a>
                      <p class="p">The plot is set in a fictional history of real world events and follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through control. The story is set in the mid-18th century during the Seven Years' War, and follows Shay Patrick Cormac, an Assassin-turned-Templar who hunts down former members of his Brotherhood after being betrayed by them. Gameplay in Rogue is very similar to that of Black Flag with a mixture of ship-based naval exploration and third-person land-based exploration with some new features.</p>
                       </div>
                   </div>
               </div>
           </div>
          <div class="block bgg">
               <div class="center center1"><h2 class="h2">Similar games</h2>
               <div class="div4">
                   <div class="div4-block">
                      <a href="page_product.html" class="a_div4_block">
                          <div class="div4-block_img" style="background: url('img/p12.jpeg') no-repeat top center;"></div></a>
                       <p class="name_game_product">
                           MIDDLE-EARTH:
Shadow Of War
                       </p>
                       <a href="#" class="button_red">Buy</a>
                   </div>
                   <div class="div4-block">
                       <a href="page_product.html" class="a_div4_block"><div class="div4-block_img" style="background: url('img/p13.jpeg') no-repeat top center;"></div></a>
                       <p class="name_game_product">
                           DISHONORED 2
                       </p>
                       <a href="#" class="button_red">Buy</a>
                   </div>
                   <div class="div4-block">
                       <a href="page_product.html" class="a_div4_block"><div class="div4-block_img" style="background: url('img/p14.jpeg') no-repeat top center;"></div></a>
                       <p class="name_game_product">
                           THIEF
                       </p>
                       <a href="#" class="button_red">Buy</a>
                   </div>
                   <div class="div4-block">
                       <a href="page_product.html" class="a_div4_block"><div class="div4-block_img" style="background: url('img/p15.jpeg') no-repeat top center;"></div></a>
                       <p class="name_game_product">
                           HITMAN
                       </p>
                       <a href="#" class="button_red">Buy</a>
                   </div>



               </div>
               </div>
           </div>
{% endblock %}