{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
 <div class="block block_empty"></div>
           <div class="block">
               <div class="center center3">
                   <div class="div2 div2_product">
                       <div class="div2-1 product_page_block_img">
                           <img class="product_page_block_img_big_img" src="/media/{{ product.image }}" alt="max_img" width="100%">
                           <div class="product_page_block_img_imgs">


                              <img class="product_page_block_img_min_img" src="/media/{{ product.image }}" alt="min_img">
                              <img class="product_page_block_img_min_img" src="/media/{{ product.image }}" alt="min_img">
                              <img class="product_page_block_img_min_img" src="/media/{{ product.image }}" alt="min_img">
                              <img class="product_page_block_img_min_img" src="/media/{{ product.image }}" alt="min_img">
                           </div>
                       </div>
                       <div class="div2-2 product_page_info" style="width: 471px; height: 416px">
                           <h2 class="compact_h2 h2_black">{{ product.name }}</h2><div class="h2">Rogue</div>

                      <div class="price">
                          <span class="new_price">{{ product.price }} ₽</span>
                      </div>
                      <a href="{% url 'basket:basket_add' product.pk%}" class="button_red button_max">Buy</a>
                      <p class="p">{{ product.description }}</p>
                       </div>
                   </div>
               </div>
           </div>
          <div class="block bgg">
               {% include 'mainapp/includes/inc__our_gallery.html' %}
           </div>
{% endblock %}